<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net451" />
  <package id="Dapper.Contrib" version="1.50.5" targetFramework="net451" />
  <package id="Dapper.SqlBuilder" version="1.50.5" targetFramework="net451" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net451" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net451" />
</packages>